<a href="http://del.icio.us/post?url=http%3A%2F%2Fwww.schoolmap.org.uk&amp;title=UK+School+Map" ><img src="/images/delicious.png" alt='Add to del.icio.us' /></a>
<a href="http://digg.com/submit?phase=2&amp;url=http%3A%2F%2Fwww.schoolmap.org.uk"><img src="/images/digg.png" alt='Add to Digg' /></a>
<a href="http://technorati.com/faves?add=http%3A%2F%2Fwww.schoolmap.org.uk"><img src="/images/tecnorati.png" alt='Add to Technorati' /></a>
<a href="http://www.furl.net/storeIt.jsp?t=UK+School+Map&amp;u=http%3A%2F%2Fwww.schoolmap.org.uk" ><img src="/images/furl.gif" alt='Add to furl' /></a>
<a href="http://myweb.yahoo.com/myresults/bookmarklet?t=UK+School+Map&amp;u=http%3A%2F%2Fwww.schoolmap.org.uk&amp;ei=UTF" ><img src="/images/yahoo.png" alt='Add to Yahoo' /></a>
